body {
    color: black;
}


//I made the color the same for before the user clicks link and after. Reference a and a:visited

a {
    color: #103966
}


a:visited {
    color: #103966
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #103966;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
}



h1,
h2 {
    color: #103966;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

#main {
    position: relative;
}