body {
    color: black;
}

a {
    color: #f09f00
}

a:visited {
    color: #da6900
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #103966;
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 500;
    font-size: 30px;
}



h1,
h2 {
    color: #374C5A;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

#main {
    position: relative;
}